p{
    color: black;
}
.cart{
    background-color: orange;
    padding: 25px;
    position: sticky;
    top: 0;
}
.cart p{
    font-size:17px;
    color: black;
}
.cart h3{
    color: lightslategray;
}
.cart h5{
    color: #AA77FF;
}
.cart p span{
    color: #AA77FF;
}